<style>
  img {
    text-align: center;
    margin: auto;
  }

  h1 {
    text-align: center;
    color: red;
    text-shadow: 3px 2px grey;
    font-size: 50px
  }

  h2 {
    text-align: center;
    color: blue;
    text-shadow: 3px 2px grey
    font-size: 35px
  }

  .button {
      background-color: #4CAF50;
      border: none;
      color: white;
      padding: 15px 32px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      cursor: pointer;
  }

  .center {
    margin: auto;
    text-align: center;
  }

</style>

<h1>WELCOME TO FINAL FANTASY VS</h1>
<div class="center">
  <a href="/start-new-game" class="button" id="new_game">New Game</a>
</div>
