<% if @command.turn == @command.player1 %>
  <p><%= @command.player1.name %>, your turn!<p>
  <form action="/battle">
    <input type="submit" value="Continue">
  </form>
<% end %>

<% if @command.turn == @command.player2 %>
  <p><%= @command.player2.name %>, your turn!<p>
  <form action="/battle">
    <input type="submit" value="Continue">
  </form>
<% end %>
