<style>

  h1 {
    text-align: center;
    color: red;
    text-shadow: 3px 2px grey;
    font-size: 50px;
  }

  h2 {
    text-align: center;
    color: blue;
    font-size: 35px;
  }
  .center {
    text-align: center;
  }

  .half-width {
    width: 50%;
  }

</style>



<h1>
  PREPARE FOR THE NEXT BATTLE!
</h1>

<% if @command.player1.name && @command.player2.name %>
  <h2><h2><%= @command.player1.name %> VS <%= @command.player2.name %></h2>
<% end %>

<div  class='center'>
  <span>
    <img src = 'https://image.ibb.co/b3j7Sn/FFDissidia_Cloud.png'>
    <img src = 'https://image.ibb.co/d8j7Sn/FFDissidia_Squall.png'>
  </span>
</div>

<div class='center'>
  <form action='/battle' method='get'>
  <input type='submit' value='Start Match'>
</div>
