<head>
  <link rel="stylesheet" href="styles.css">
  <link href="https://fonts.googleapis.com/css?family=Encode+Sans|Nova+Slim|Bilbo+Swash+Caps|Gurajada|Exo:400i" rel="stylesheet">
</head>

<body id="char_screen">
  <h1 class="title">Heavenly  Strike</h1>

  <% if @game.player1.name && @game.player2.name %>
    <h2 class="subheader"><%= @game.player1.name %> VS <%= @game.player2.name %></h2>
  <% end %>

  <div class='center'>
    <span>
      <img src = 'https://image.ibb.co/mz5hyS/FFXIV_Black_Mage.png'>
      <img src = 'https://image.ibb.co/kZcvJS/Dragoon_Artwork_XIV.png'>
    </span>
  </div>

  <div class='center'>
    <% if @game.player2.name == "Computer" %>
      <form action='/comp_battle' method='get'>
        <button type="submit" class="btn dk_blue" id="start_match">Start Match</button>
      </form>
    <% else %>
      <form action='/battle' method='get'>
        <button type="submit" class="btn dk_blue" id="start_match">Start Match</button>
      </form>
    <% end %>
  </div>
</body>
