<body>
  <% if @move == :atk %>
    <p><%= @command.player1.name %> attacked <%= @command.player2.name %></p>
    <form action="/p1_do_damage">
      <input type="submit" value="Continue">
    </form>

  <% elsif @move == :def %>
    <p><%= @command.player1.name %> defended</p>
    <form action="/p1_defend_msg">
      <input type="submit" value="Continue">
    </form>

  <% end %>
</body>
