<style>

  h1 {
    text-align: center;
    color: red;
    text-shadow: 3px 2px grey;
    font-size: 50px;
  }

  h2 {
    text-align: center;
    color: blue;
    font-size: 35px;
  }

  img {
    height: 60%;
    padding: 10px;
  }
  .center {
    text-align: center;
  }

  .half-width {
    width: 50%;
  }

</style>

<body>
  <h2><%= @victor.name %> wins!</h2>

  <div  class='center'>
    <% if @victor == @game.player1 %>
      <img src = 'https://image.ibb.co/mz5hyS/FFXIV_Black_Mage.png'>
    <% else %>
      <img src = 'https://image.ibb.co/kZcvJS/Dragoon_Artwork_XIV.png'>
    <% end %>
  </div>

  <div class='center'>
    <form action='/' method='get'>
    <input type='submit' value='Restart Game'>
  </div>
</body>
