<head>
  <link rel="stylesheet" href="styles.css">
  <link href="https://fonts.googleapis.com/css?family=Encode+Sans|Nova+Slim|Bilbo+Swash+Caps|Gurajada|Exo:400i" rel="stylesheet">
</head>


<body>
  <h2><%= @victor.name %> wins!</h2>

  <div  class='center'>
    <% if @victor == @game.player1 %>
      <img src = 'https://image.ibb.co/mz5hyS/FFXIV_Black_Mage.png'>
    <% else %>
      <img src = 'https://image.ibb.co/kZcvJS/Dragoon_Artwork_XIV.png'>
    <% end %>
  </div>

  <div class='center'>
    <form action='/' method='get'>
    <input type='submit' value='Restart Game'>
  </div>
</body>
